geojson
geojsonio
geopandas
ipyleaflet
ipywidgets
matplotlib 
numpy
opencv-python
planet
pyproj
pyshp
pytest
rasterio
scikit-image
scikit-learn
shapely
tqdm
holoviews
geoviews
geos
pandas
requests
fiona
bokeh
descartes
scipy
hvplot
