geojson
geojsonio
pandas
geopandas
ipyleaflet
ipywidgets
matplotlib 
numpy
geos
opencv-python
planet
pyproj
pyshp
pytest
rasterio
scikit-image
scikit-learn
shapely
tqdm
requests
fiona
bokeh
descartes
scipy
holoviews
geoviews
hvplot
