geojson
geojsonio
pandas
geopandas
ipyleaflet
ipywidgets
matplotlib 
numpy 
opencv-python
planet
pyproj
pytest
rasterio
scikit-image
scikit-learn
shapely
tqdm
requests
fiona
bokeh
descartes
holoviews
geoviews==1.6.2
hvplot
datashader
