# please keep this in alphabetical order
bokeh
cartopy
datashader
descartes
fiona
gdal
geojson
geojsonio
geopandas
geoviews
hvplot
ipyleaflet
ipywidgets
matplotlib 
numpy 
# for pip, use opencv-python
opencv
pandas
planet
pyproj
pytest
rasterio
requests
scikit-image
scikit-learn
shapely
tqdm
panel
