#notebook-container {
    font-family: 'Gotham SSm A','Gotham SSm B','Helvetica Neue',Helvetica,sans-serif; 
}
#notebook-container a {
    color:#009da5; 
}

#notebook-container h1,
#notebook-container h2,
#notebook-container h3,
#notebook-container h4,
#notebook-container h5 {
    color: #006266;
    
}

#ps-header {
    color: white; 
    padding: 20px; 
    position:relative;
    z-index:2;
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
        background-color:red !important;
}
#ps-header:after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
    background-image:url("https://developers.planet.com/theme/images/lake-okeechobee.jpg");
    background-color:black;
    background-size:cover;
}

#ps-header a {
    color:white;
    text-decoration:none; 
}

#ps-header h1 {
    color: white;
}
#ps-header h3 {
    color:#009da5; 
        font-weight:normal;
}

.content-block {
    background-color:#f5f5f5; 
    padding: 10px 20px;
} 

.callout {
    border: 2px solid #4f5258;
    padding:  10px 20px;
}
.callout-light {
    border: 2px solid #f5f5f5; 
    padding: 10px 20px;
}

.callout-blue {
    border: 2px solid #009da5; 
    padding:  10px 20px;
    
}
.callout-filled {
    padding:  10px 20px;
    
}

.callout-red {
    border: 2px solid #bf3b3b; 
    padding:  10px 20px;
}

.success {
    color: #2ab26a;
}

.top-margin {
    margin-top: 20px;
}